.userBadge {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;

  &__image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--background-primary-light);
    box-shadow: 0 0 0 1px var(--primary);
  }

  &__name {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-primary);
    text-align: left;
  }

  &__uid {
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
    color: var(--text-secondaty);
  }

  &__logout {
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 32px;
    height: 32px;
    padding: 0;

    & img {
      transition: 0.3s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      & img {
        transform: scale(1.1);
      }
    }
  }
}