:root {
    --text-primary: #28224B;
    --text-secondary: #546285;
    --text-white: #FFFFFF;
    --text-black: #222222;
    --text-gray: #e4e4e4;
    --text-dark-black: #08090A;

    --primary: #35B8BE;
    --primary-hover: #309ea3;
    --primary-active: #257c81;

    --background-white: #FFFFFF;
    --background-primary-light: #f5fbfc;

    --border: 1px solid #61728333;
    --border-hover: 1px solid #617283;
    --border-secondary: 1px solid #35B8BE26;

    --red: #d53a3a;

    .theme-dark {
        --text-primary: #e4e4e4;
        --text-secondary: #7f838d;
        --text-white: #111111;
        --text-black: #f5f5f5;
        --text-gray: #888888;
        --text-dark-black: #ffffff;
        --primary: #35B8BE;
        --primary-hover: #309ea3;
        --primary-active: #257c81;
        --background-white: #303030;
        --background-primary-light: #222222;
        --border: 1px solid #08090A33;
        --border-hover: 1px solid #4f4f4f;
        --border-secondary: 1px solid #35B8BE26;
        --red: #d53a3a;
    }
}