.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
    padding: 20px 0;
    transition: box-shadow 0.3s ease-in-out,
                padding 0.1s ease-in-out;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navigation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 70px;
    }

    &__scrolled {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}