.footer {
    width: 100%;
    padding: 100px 0 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
        -webkit-mask-image: url("/images/footer.svg");
        mask-image: url("/images/footer.svg");
        mask-repeat: no-repeat;
        mask-position: left bottom;
        background: var(--primary);
        opacity: 0.2;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 100px;
        align-items: stretch;
        z-index: 1;
        justify-content: flex-start;
    }

    &__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        &__logo {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 25px;

            &__slogan {
                font-size: 16px;
                font-weight: 400;
                line-height: 27px;
                text-align: left;
                color: var(--text-secondary);
            }
        }

        &__columns {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            &__item {
                display: flex;
                flex-direction: column;
                gap: 28px;

                &__title {
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 2px;
                    text-align: left;
                    text-transform: uppercase;
                }

                &__row {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
                    color: var(--text-secondary);
                    text-decoration: none;
                    transition: color 0.3s ease-in-out;

                    &:hover {
                        color: var(--primary);
                    }
                }
            }
        }
    }

    &__subFooter {
        display: flex;
        gap: 20px;
        height: 100px;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;

        &__authors {
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: var(--text-secondary);
            display: flex;
            gap: 5px;
            align-items: center;

            span {
                color: var(--primary);
                cursor: pointer;
            }
        }

        &__socials {
            display: flex;
            gap: 24px;
            padding: 0 12px;
            align-items: center;

            &__item {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: var(--border);
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: border-color 0.3s ease-in-out;

                &:hover {
                    border: var(--border-hover);
                }
            }
        }
    }
}