.footer {
    width: 100%;
    padding: 100px 0 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-primary-light);
    background-image: url("/images/footer.svg");
    background-position: calc((100% - 600px) / 2) 140px;
    background-repeat: no-repeat;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: stretch;
    justify-content: flex-start;
}

.footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.footer__menu__logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

.footer__menu__logo__slogan {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: var(--text-secondaty);
}

.footer__menu__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__menu__columns__item {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer__menu__columns__item__title {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
}

.footer__menu__columns__item__row {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--text-secondaty);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer__menu__columns__item__row:hover {
    color: var(--primary);
}

.footer__subFooter {
    display: flex;
    gap: 20px;
    height: 100px;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.footer__subFooter__authors {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--text-secondaty);
    display: flex;
    gap: 5px;
    align-items: center;
}

.footer__subFooter__authors span {
    color: var(--primary);
    cursor: pointer;
}

.footer__subFooter__socials {
    display: flex;
    gap: 24px;
    padding: 0 12px;
    align-items: center;
}

.footer__subFooter__socials__item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: var(--border);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s ease-in-out;
}

.footer__subFooter__socials__item:hover {
    border: var(--border-hover);
}