.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 140px 0;
    gap: 50px;

    &__hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;

        &__title {
            font-size: 50px;
            font-weight: 400;
            line-height: 55px;
            letter-spacing: 2px;
            text-align: center;
            color: var(--primary);
        }

        &__description {
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            text-align: center;
            color: var(--text-secondaty);

            span {
                color: var(--primary);
                cursor: pointer;

                &:hover {
                    color: var(--primary-hover);
                    cursor: pointer;
                }
            }
        }
    }
}
