.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu__item {
    padding: 20px 16px;
    text-decoration: none;
    color: var(--text-primary);
    transition: color .3s ease-in-out;
}

.menu__item:hover {
    color: var(--primary);
}

.menu__item__active {
    color: var(--primary);
}