.cartButton {
    width: 55px;
    height: 55px;
    border-radius: 4px;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.cartButton__badge {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--background-white);
    color: var(--primary);
    position: absolute;
    top: -6px;
    right: -6px;
    box-shadow: 7px 7px 25px 0 #7E828F45;
    display: flex;
    justify-content: center;
    align-items: center;
}